<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ruleName</key>
		<string>EVO 2019</string>
		<key>stages</key>
		<string>020200000000000000010000000000000000010020002000000000000000000000000000000000010000020000000000000000000</string>
		<key>starter</key>
		<true/>
		<key>banCount</key>
		<integer>2</integer>
		<key>starterBanCount</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
